.table {
  width: 100%;
  position: relative;
  flex-grow: 1;
  overflow: auto;
  table {
    width: 100%;
    vertical-align: top;
    table-layout: fixed;
    background-color: white;
  }
  thead,
  .thead,
  .thead > * > * {
    background-color: #eff0f5;
    padding: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    th,
    .th {
      padding: 0.25rem;
      border-top: none;
      vertical-align: middle;
      border-bottom: 1px solid $secondary;
      white-space: nowrap;
      .btn {
        padding: 0;
        font-weight: 700;
        color: $dark;
        @include rfs(14px);
      }
    }
  }
  tbody,
  .tbody,
  .tbody > * > * {
    border-top: 0 !important;
    tr,
    .tr {
      td,
      .td {
        font-size: 14px;
        color: $dark;
        padding: 0.5rem;
      }
      &:last-child {
        td,
        .td {
          border-bottom-color: transparent !important;
        }
      }
    }
  }

  &-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  &-striped {
    tbody,
    .tbody,
    .tbody > * > * {
      tr,
      .tr {
        &:nth-child(even) {
          background-color: $secondary;
        }
      }
    }
  }
  &-actions {
    .view {
      background: #20bc081a 0% 0% no-repeat padding-box;
      border: 1px solid #20bc08;
      svg {
        color: #20bc08;
      }
    }
    .edit {
      background: #1e83f71a 0% 0% no-repeat padding-box;
      border: 1px solid #1e83f7;
      svg {
        color: #1e83f7;
      }
    }
    .delete {
      background: #f71e1e1a 0% 0% no-repeat padding-box;
      border: 1px solid #f71e1e;
      svg {
        color: #f71e1e;
      }
    }
  }
  &-bordered {
    border-radius: 0.375rem;
    thead,
    .thead,
    .thead > * > * {
      background-color: white;
      top: 0;
      th,
      .th {
        padding: 0.5rem;
        border-top: none;
        vertical-align: middle;
        border-bottom: 1px solid $border-color;
        border-top: 1px solid $border-color;
        white-space: nowrap;
        .btn {
          padding: 0;
          font-weight: 700;
          color: #656669;
          background-color: white;
          @include rfs(14px);
          border: none;
        }
      }
    }
    tbody,
    .tbody,
    .tbody > * > * {
      tr,
      .tr {
        &:not(:last-child) {
          border-bottom: 1px solid $border-color;
        }
        td {
          padding-top: 0.875rem;
          padding-bottom: 0.875rem;
          word-break: break-all;
          @include rfs(14px);
        }
      }
    }
  }
  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  &-entries {
    @include rfs(12px);
    color: $input-color;
  }
}
